//===================================================================
//  SIGN-IN
//===================================================================

@import
"settings";

@import
'foundation';

.sign-in {
  margin-top: 40px;
  max-width: 300px;
}

.sign-in__heading {
  margin-bottom: 36px;
  color: $base-font-color;
  font: inherit;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.sign-in__button {
  @include button-hollow;

  margin-bottom: 10px;
  outline: none;
  width: 100%;
  border: 1px solid #eee;
  padding: 0;
  height: 48px;
  font-family: inherit;
  font-size: rem-calc(18px);
  line-height: 48px;
  color: $base-font-color;

  &:hover {
    border: 2px solid #bbb;
    line-height: 46px;
  }
}

@mixin sign-in__input {
  outline: none;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
  width: 100%;
  ling-height: 40px;
  color: $base-font-color;
  font-family: inherit;
  font-size: rem-calc(18px);
  background: transparent;

  &::placeholder {
    color: #eee;
  }

  &:focus::placeholder {
    color: #ddd;
  }
}

.sign-in__email {
  @include sign-in__input;
}

.sign-in__pw {
  @include sign-in__input;
}