//===================================================================
//  SIGN-IN
//===================================================================

@import
"settings";

@import
'foundation';

.sign-in {
  margin-top: 90px;
  max-width: 300px;
}

.sign-in__heading {
  margin-bottom: 36px;
  color: $base-font-color;
  font: inherit;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.sign-in__button {
  @include button-hollow;

  margin-bottom: 10px;
  outline: none;
  width: 100%;
  border: 1px solid #eee;
  padding: 0;
  height: 48px;
  font-family: inherit;
  font-size: rem-calc(18px);
  line-height: 48px;
  color: $base-font-color;

  &:hover {
    border: 2px solid #bbb;
    line-height: 46px;
  }
}