//===================================================================
//  BASE
//===================================================================

$base-background-color: #556595 !default;
$base-font-color: #fff !default;
$base-font-family: Helvetica Neue, Helvetica, Arial, sans-serif !default;
$base-font-size: 15px !default;
$base-line-height: 24px !default;
