//===================================================================
//  GRID
//===================================================================

.g-row {
	background: #00ff00;
}

.g-col {
	background: #ff0000;
	width: 100%;
}