//===================================================================
//  GRID
//===================================================================

@import
'foundation';

.g-row {
  @include grid-row;
  max-width: rem-calc(800px);
}

.g-col {
  @include grid-col;
  box-sizing: border-box;
  width: 100%;
}