//===================================================================
//  BASE
//===================================================================

$base-background-color: #91a8d0 !default;
$base-font-color: #fff !default;
$base-font-family: Century Gothic, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$base-font-size: 15px !default;
$base-line-height: 24px !default;
