//===================================================================
//  BASE
//===================================================================

// $base-background-color: #91a8d0 !default;
$base-background-color: #222 !default;
$base-light-color: #bbb !default;
$base-lighter-color: #ddd !default;
$base-lightest-color: #fff !default;
$base-font-color: #ddd !default;
$base-font-sans: 'Open Sans', sans-serif !default;
$base-font-serif: 'Lato', serif !default;
$base-font-size: 15px !default;
$base-line-height: 24px !default;
