@import
"settings";

@import
"grid",
"app/header",
"app/main",
"home/story-form",
"home/story-list",
"sign-in/sign-in";

@import
"foundation-icons.scss";

::selection {
  background: #559565;
}

body {
  background-color: $base-background-color;
  font-family: $base-font-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0px;
}