@import
"settings";

@import
"grid",
"sign-in/sign-in";

::selection {
  background: #559565;
}

body {
  background-color: $base-background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}