//===================================================================
//  STORY INPUT
//===================================================================

.story-form {
  margin: 40px 0 10px;
}

.story-form__input {
  outline: none;
  border: 0;
  border-bottom: 1px dotted $base-lightest-color;
  border-radius: 0;
  padding: 0 0 5px 0;
  width: 100%;
  line-height: 40px;
  font-family: inherit;
  font-size: rem-calc(20px);
  color: $base-font-color;
  background: transparent;

  &::placeholder {
    color: $base-lighter-color;
  }

  &:focus::placeholder {
    color: $base-light-color;
  }
}
