//===================================================================
//  HEADER
//===================================================================

@import
"../settings";

@import
"foundation";

.header {
  padding: 10px 0;
  height: 60px;
  overflow: hidden;
  line-height: 40px;
}

.header__title {
  float: left;
  font-family: inherit;
  font-size: rem-calc(18px);
  font-weight: 400;
  color: $base-font-color;
  text-rendering: auto;
  transform: translate(0,0);

  &:last-child {
    margin: 0;
    padding: 0 5px;
  }
}

.header__links {
  @include clearfix;

  float: right;
  margin: 0;

  li {
    float: left;
    list-style: none;
  }
}

.header__button {
  @include button-hollow;

  outline: none;
  border: 1px solid #eee;
  padding: 0 5px;
  height: 32px;
  font-family: inherit;
  font-size: rem-calc(12px);
  line-height: 32px;
  color: $base-font-color;

  &:hover {
    border: 1px solid #bbb;
    line-height: 32px;
  }
}

.header__link--author {
  font-size: rem-calc(18px);
  color: $base-font-color;
  padding-left: 5px;
}
